<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Result</h1>

<form action="/freelancerform">
    <input type="submit" value="Go to Freelancer Calculator" />
</form>

<form action="/cattoolsform">
    <input type="submit" value="Go to Cat Tools Calculator" />
</form>

<form action="/fileupload">
    <input type="submit" value="Go to File Upload" />
</form>

</body>
</html>